/* --- IMPORTS --- */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Just+Another+Hand&family=Pattaya&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



h2 {
    padding: .8rem 0 .3rem 0;
}

p {
    font-size: clamp(1rem, 1vw, 1.3rem);
}


.contactText p {

    font-size: clamp(1.3rem, 2vw, 2rem);

}

.roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

.courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
}

.courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
}

.pattaya-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.just-another-hand-regular {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;

}


h2 strong {
    position: relative;
    font-weight: 300;

    &::after {
        content: '';
        position: absolute;
        bottom: -0.125rem;
        left: -0.5rem;
        right: -0.5rem;
        height: 0.75rem;
        background-image: url('../images/underline3.svg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 1rem;
    }
}


.slide {
    font-family: "Roboto Condensed", sans-serif;

    h2 {
        font-size: min(max(1.8rem, 2vw), 2.8rem);
        margin-bottom: 1rem;
    }

    p {
        font-size: min(max(1.2rem, 2vw), 2rem);
        line-height: 1.5;
    }
}

.aboutContainer,
.contentContainer,
.contactIntro {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.5;
}


a {
    text-decoration: none;
    color: #690558;
}

a:hover {
    font-style: italic;
    font-weight: bolder;
    color: fuchsia;
}

.content a {

    img {
        margin: -1rem -1rem 0;
        object-fit: cover;
        aspect-ratio: 1/1;
        width: 115%;
    }
}