textarea,
input {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    border: none;
    border-bottom: 2px solid fuchsia;
    background-color: transparent;
    line-height: 2;
    font-size: large;
    padding: .5rem;
    background-repeat: no-repeat;
    background-position: .5rem center;
    padding-left: 2rem;
}

input[type=text] {
    background-image: url(../images/icons/user-solid.svg);
}

input[type=email] {
    background-image: url(../images/icons/at-solid.svg);
}

button,
textarea {
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    border: solid 2px fuchsia;
}

textarea {
    resize: none;
    max-width: 100%;
    field-sizing: content;
    min-height: 5rem;
    background-image: url(../images/icons/comment-regular.svg);
    background-position: .5rem 1rem;
    padding-left: 2rem;
    line-height: 1.2;
}

textarea:focus,
input:focus {
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
    caret-color: black;
}

button {
    background-color: fuchsia;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
    color: #fff;
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-size: large;
    padding: .5rem;
    width: 20%;
    align-self: flex-end;
}

#loadMoreBtn {
    width: 50%;
    justify-self: center;
}

#loadMoreBtn:hover,
#clearForm:hover,
button[type=submit]:hover,
.reply-btn:hover,
.cancel-reply:hover {
    transform: scale(1.1);

}

.reply-btn {
    all: unset;
    background-color: transparent;
    background-image: url(../images/icons/reply-solid_fucshia.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-size: calc(40%);
    padding: .7rem;
}


/*--- REPLY-FORM---*/

.reply-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

/*---CONTACTFORM---*/

.contactForm {
    display: grid;
    justify-self: center;
    max-width: 750px;
}

.contactFormWrapper {
    max-width: 100%;
}