/* universal */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --menu-bg: #e9b9b9;
    --secondaryColor: #e2520f;
}

html {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 14px;
    background-color: var(--menu-bg);
    background: linear-gradient(#ececf5 0%, #f89afc 75%);
    background-size: cover;
    color: rgb(66, 66, 66);
    min-height: 100dvh;
    border: solid 1px red;

}

div {
    border: solid 1px black;
    padding: 1rem;
}

body {
    outline: solid 1px black;
    padding: 0 1rem;
}

nav {
    border: solid 1px blue;
    padding: 1rem;
}

footer {
    /*     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto, 1fr; */
    position: sticky;
    top: 100%;
    margin-top: 2rem;
    border: solid 1px green;
    padding: 1rem;

}